<div class="row">
  <div class="col-sm-10 col-sm-offset-1">

    <div class="row">
      <div class="col-sm-4">
        <h3>Aliases</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <table class="table-bordered">
          <thead>
            <tr>
              <th>Alias Type</th>
              <th>First Term</th>
              <th>Second Term</th>
            </tr>
          </thead>
          <tbody>
            <% @aliases.each do |a| %>
              <tr>
                <td><%= a.alias_type %></td>
                <td><%= a.alias_term1 %></td>
                <td><%= a.alias_term2 %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
